/node_modules/
__pycache__/
*.pyc
npm-debug.log

# tox testing
/.tox/
*.egg-info/
.venvs/
dist/
build-with-tests/
package-lock.json

.nyc_output

.eslintcache

# Test output reports, coverage, etc
reports/

# Generic venv directory for experimenting / testing
venv/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
