pipenv==2022.4.8; python_version == '3.8'
pipenv==2023.11.15; python_version == '3.9'
pipenv==2023.11.15; python_version == '3.10'
pipenv==2023.11.15; python_version == '3.11'
pipenv==2023.11.15; python_version == '3.12'
pipenv==2025.0.4; python_version == '3.13'
pipenv==2025.0.4; python_version == '3.14'
pipenv==2018.11.26; python_version == '2.7'
virtualenv==20.15.1; python_version == '3.8'
virtualenv==20.25.0; python_version == '3.9'
virtualenv==20.25.0; python_version == '3.10'
virtualenv==20.25.0; python_version == '3.11'
virtualenv==20.25.0; python_version == '3.12'
virtualenv==20.35.3; python_version == '3.13'
virtualenv==20.35.3; python_version == '3.14'
virtualenv==16.2.0; python_version == '2.7'
mock
