[requires]
python_version = "3.11.6"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
'opentelemetry-distro[otlp]' = '==0.35b0'
"Jinja2" = { version = "*" }

[pipenv]
allow_prereleases = true
